<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">About a Marvel
                <strong></strong>
            </h2>
            <hr>


            <div class="col-md-6">
                <p> Marvel Entertainment was founded in 1939 in the United States by Martin Goodman. The company's first comic book was Marvel Comics, launched on August 31, 1939, when the characters Human Torch and Namor appeared. The company's history, however, began in 1933, when the first publications were published in the Western Supernovel Magazine.</p>
                <p>Marvel had its ups and downs, but in the early 1990s, the company grew rapidly, with the popularization of comics in the United States. It was in the same decade that the company's characters gained film license, recognition for recognition with films like X-Men, X-Men Origins: Fantastic Wolverine, Hulk, Iron Man and Blade.</p>
                <p>In 2009, Marvel was purchased by the Walt Disney Company, establishing itself by producing huge blockbusters in theaters, including Iron Man 2, Thor and Captain America: The First Avenger. Today, Marvel is one of the largest entertainment companies in the world, with more than 8,000 characters in its catalogue.</p>
            </div>
            <div class="clearfix"></div>
            
        </div>
    </div>
</div>
