<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Page Actor
                <strong></strong>
            </h2>
            <hr>


            <div class="col-md-6">
                <p>hi, my name is Jorge I'm 34 years old I'm married to Andreza and soon I'll be a dad, I like to go hiking and cycling, I've been working professionally with development since 2013, I studied computer technician, bachelor's degree in information systems and technologist in digital games .</p>
                <p>I hope you enjoyed the site, of course if you're as passionate about Marvel as I am.</p>
                <p>A big hug and good research about the Marvel world.</p>
            </div>
            <div class="clearfix"></div>
            
        </div>
    </div>
</div>
